.container {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(180, 180, 180, 0.548);
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

.title {
  text-align: center;
  font-size: 30px;
}

.qr__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.qr__top {
  padding: 20px;
  text-align: center;
}

.input {
  border-radius: 10px;
  background-color: rgb(158, 158, 158);
  border: none;
  height: 50px;
  width: 300px;
  border: 1px solid rgba(236, 236, 236, 0.884);
  font-size: 16px;
}
.input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.btn {
  border-radius: 10px;
  height: 50px;
  width: 300px;
  border: none;
  background-color: rgb(175, 174, 174);
  border: 1px solid rgba(236, 236, 236, 0.884);
}
